# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment files
.env
.env.*.local

# Vercel configuration
.vercel

# Build outputs
dist/
build/

# Temporary files
*.swp
*.swo
*.tmp
*.bak
*.dmp

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml

# Coverage reports
coverage/

# Git configuration
.gitconfig
package-lock.json
test